.tabs-container {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tabs-title {
  width: 100%;
  height: 88px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-sel {
  color: #24272c;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-sel  .line-style{
  background: #fff;
  height: 6px;
  width: 40px;
  position: relative;
  margin-top: 10px;
}

.title-sel-selected{
  color: #006bff;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-sel-selected .line-style{
  background: #006bff;
  height: 6px;
  width: 90px;
  position: relative;
  margin-top: 10px;
}

.swiper {
  width: 90%;
  flex: 1;
  overflow: scroll;
  margin: 0 auto;
}

.record-item {
  margin-top: 10px;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 30px;
}

.name{
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 2vh;
  border-radius: 10px
}
